{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<main class="container">
    <div class="row">
        {% for plant in plants %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ plant.image.url }}">  <!-- 'plant', no 'plants' -->
            <div class="box-element product">
                <h6><strong>{{ plant.name }}</strong></h6>  <!-- 'plant', no 'plants' -->
                <hr>
                <a class="btn btn-outline-secondary add-btn" href="{% url 'fav' %}?plant_id={{ plant.id }}">Añadir a favoritos</a>   
                <a class="btn btn-outline-success" href="#">Ver</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}